@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

$title: #333;
$mainText: #666;
$headerFooter: #ccf;
$mainColor: #69f;
$background: #f5f5f5;
$progressbar: #e0e0e0;