#modal {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

form {
  width: 30%;

  padding: 30px;

  background-color: #fff;

  border: 2px solid #ccc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  transform: scale(0);
  transition: transform .3s ease;

  h2 {
    margin-bottom: 30px;

    text-align: center;
  }

  .input-container {
    width: 60%;

    margin: 0 auto 40px auto;

    position: relative;
  }

  input:not(input[type="submit"], input[type="checkbox"]),
  textarea {
    width: 100%;
    height: 57px;

    padding: 15px;

    background-color: transparent;

    border: none;
    border-bottom: 3px solid #ccc;
    outline: none;

    font-size: 20px;
    font-weight: 500;

    resize: vertical;
    transition: border-bottom-color .3s ease;

    &:focus {
      border-bottom-color: $mainColor;
    }

    &:focus + label,
    &.filled + label {
      top: -10px;
      left: 0;
    }

    &.error:invalid {
      border-bottom-color: #ff4444;
    }
  }

  label {
    color: #939393;

    font-size: 20px;
    font-weight: 500;

    transform: translateY(-50%);

    position: absolute;
    top: 50%;
    left: 15px;

    transition: .3s ease;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;

    user-select: none;

    transform: none;
    position: static;

    &::after {
      width: 20px;
      height: 20px;

      display: block;

      border: 1px solid #ccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      content: '';
    }
  }

  #checkbox {
    display: none;

    &:checked + .checkbox-label::after {
      background: url("../svg/done.svg") no-repeat center / contain;
      animation: pop-in .4s ease-out;

      @keyframes pop-in {
        0% {
          transform: scale(0.8);
          opacity: 0;
        }
        50% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  input[type="submit"] {
    margin: 0 auto;
    padding: 10px 30px;

    display: block;

    color: #fff;
    background-color: #00c851;

    border: 2px solid #ccc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    outline: none;

    font-size: 25px;

    transition: background-color .3s ease;
    cursor: pointer;

    &:hover {
      background-color: #00b145;
    }
  }
}